:root {
    --backgroundColor: #eceef1;
    --emerald: #1e7f5b;
    --slateblue: #4a5b8c;
    --softGold: #C9a66b;
    --primaryText: #1b1d1f;
    --secondaryText: #3c4043;
    --inverseText: #fafafa;
    --headingFont: "Inter", sans-serif;
    --bodyFont: "Merriweather", serif;
    --standardPadding: 8px;
    --largePadding: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headingFont);
    font-size: 1.5rem;
    text-align: center;
}

h1 {
    text-align: left;
    font-size: 2rem;
    color: var(--inverseText);
    padding-left: var(--standardPadding);
    grid-area: 1/2/2/3;
    align-self: end;
}

header {
    background: var(--emerald);
    display: grid;
    grid-template-columns: 150px 8fr 2fr;
    grid-template-rows: 1fr 1fr;

}

header p {
    grid-area: 2/2/3/3;
    color: var(--inverseText);
    font-size: 1.5rem;
    padding-left: var(--standardPadding);
    align-self: beginning;
}

header img {
    grid-area: 1/1/3/2;
}

header ul {
    height: 100%;
    grid-area: 1/3/3/4;
    align-items: center;
    justify-items: right;
    padding-right: var(--largePadding);
}

header a {
    text-decoration: none;
    color: var(--inverseText);
}

header ul li {
    padding-top: 22px;
    list-style: none;
}

.