img{
    display: block; 
    width: 400px; 
    height: 600px; 
    object-fit: cover;
    margin: 0 auto; 
    opacity: 0; 
    animation: fadeIn 3s forwards;  
}

@keyframes fadeIn{
    0% {
        opacity: 0; 
    }
    100%{
        opacity: 1
    }
}
.image-wrapper{
    position: relative; 
    background-color: black;
    overflow: hidden; 
}