*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    color: black; 
}

body{
    font-family: 'Roboto', sans-serif;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto; 
    border: 1px solid black; 
    padding: 5px; 
    background-color: lightblue;
}

main{
    display: grid; 
    grid-gap: 1rem; 
    grid-template-columns: 1fr;

}

section{
    padding: 5px; 
    background-color: white;

}